<h1>Pictures</h1>
<h2>And maybe some words as well </h2>
<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %> <%= picture.artist  %></p>
  <img src="<%= picture.url %>" alt="<%=  picture.title %>">
<% end %>
